.wrapper {
  margin: 0 auto;
  margin-bottom: 400px;
  padding: 0 10px;
  max-width: 600px;
}
.btn {
  border: none;
  background-color: inherit;
  font-size: 15px;
  cursor: pointer;
  opacity: 0.7;
  font-family: 'Work Sans', sans-serif;

  &_bottom {
    border: none;
    background-color: inherit;
    font-size: 15px;
    cursor: pointer;
    opacity: 0.7;
    font-family: 'Work Sans', sans-serif;
  }
}
// btn {
//   &:focus {
//     border: 1px solid #000;
//   }
// }
.none {
  display: none !important;
}
.title {
  margin: 0;
  font-size: 80px;
  font-weight: 200;
  text-align: center;
  color: rgb(233 233 233);
}
.todo {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  height: 380px;
  border: 1px solid #bdbdbd;
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 5px;
    left: 5px;
    border: 1px solid #bdbdbd;
    background-color: #f1f1f1;
    z-index: -10;
  }
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 10px;
    left: 9px;
    border: 1px solid #b6b6b6;
    background-color: #efefef;
    z-index: -11;
    // box-shadow: 2px 7px 25px 15px #bdbdbd;
    box-shadow: 0 0 25px 15px #3a3a3a;
  }

  &__input {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    border-bottom: 2px solid #bdbdbd;
  }

  &__out {
    border: none;
    font-size: 20px;
    width: 95%;
    font-size: 18px;
  }

  &__add {
    width: 28px;
    font-size: 30px;
    margin-right: 30px;
  }

  &_wrapper {
    flex-grow: 1;
    overflow: auto;
    &::-webkit-scrollbar {
      width: 18px;
    }
    &::-webkit-scrollbar-track {
      background: #f0f0f0;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #d4d4d4;
      border: 2px solid #fff;
    }
  }

  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    display: flex;
    padding: 6px;
    padding-left: 13px;
    border-bottom: 2px solid #bdbdbd;
    text-align: center;
    align-items: center;
    &.completed {
      opacity: 0.5;
      transition: all 0.3s ease-out;
    }
    &:hover {
      .todo__delete {
        opacity: 0.6;
        transition: all 0.4s ease-in-out;
      }
    }
  }

  &__checkbox {
    position: relative;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    vertical-align: sub;
    border: 1px solid #ddd;
    cursor: pointer;
    appearance: none;
    &:checked {
      background-image: url('../../../assets/img/checkmark.svg');
      background-size: contain;
    }
  }

  &__text {
    font-size: 28px;
    padding-left: 8px;
    margin: 0;
    font-weight: 300;
    color: #000;
  }

  &__delete {
    margin-left: auto;
    margin-right: 20px;
    font-size: 40px;
    opacity: 0;
    margin-right: 10px;
    font-size: 30px;
    margin-right: 10px;
  }

  &__bottom {
    border-top: 2px solid #bdbdbd;
    flex-shrink: 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-size: 12px;
  }

  &__items_left {
    color: #000;
    font-size: 15px;
    opacity: 0.7;
  }

  &__bottom_wrapper {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 650px) {
  .todo__text {
    font-size: 24px;
  }
}

@media (max-width: 650px) {
  .todo__text {
    font-size: 24px;
  }
  .todo__delete {
    margin-right: 10px;
  }
}

@media (max-width: 425px) {
  .todo {
    &__text {
      font-size: 20px;
    }

    &__out {
      font-size: 18px;
    }

    &__delete {
      font-size: 30px;
      margin-right: 10px;
    }
    &__bottom {
      font-size: 12px;
    }
    &_bottom {
      font-size: 12px;
    }

    &__bottom {
      flex-direction: column;
      align-items: center;
    }
  }
}
