*,
::after,
::before {
  box-sizing: border-box;
}

body {
  background-color: black;
  background-color: #2e445c;
  color: #fff;
  font-weight: 400;
  /* font-family: 'Work Sans', sans-serif; */
  font-family: 'Rubik', sans-serif;
}

.container {
  max-width: 1024px;
  padding: 0 15px;
  margin: 0 auto;
  /*   
  height: 100vh;
  display: flex;
  flex-direction: column; */
}

a {
  text-decoration: none;
}

.btn {
  padding: 5px 15px;
  background-color: inherit;
  font-size: 20px;
  font-family: 'Rubik', sans-serif;
  color: #fff;
  border: none;
  border: 3px #fff;
  border-style: dotted;
  cursor: pointer;
}

.section-title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 40px;
  color: #fff;
  text-align: center;
}

.list-reset {
  list-style: none;
  margin: 0;
}

.flex_wrap {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

/* /////////////// */
/* Header */
.header {
  /* padding: 0 50px; */
  padding-top: 30px;

  &__home {
    color: #dbdbdb;
    width: 35px;
    height: 35px;
  }
}

/* /////////////// */
/* Main */
.main {
}

.project {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project__content-img {
  max-width: 320px;
  border-radius: 5px;
  img {
    border-radius: 5px;
    max-width: 320px;
  }
}

.project__content-descr {
  max-width: 600px;
  font-size: 25px;
  text-align: center;
}

/* /////////////// */
/* Footer */
.footer {
  &__list {
    display: flex;
    justify-content: space-between;
    &-item {
      display: flex;
      align-items: center;
      text-align: center;
    }
    &-img {
      width: 40px;
      height: 40px;
      padding-right: 10px;
    }
    &-descr {
      padding: 0;
      font-size: 20px;
      text-decoration: none;
      color: #fff;
    }
  }
}

@media (max-width: 700px) {
  .footer__list {
    flex-direction: column;
  }
}
