.barleybreak {
  &__content {
    max-width: 420px;
    aspect-ratio: 0.88;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 400px;
  }

  h2 {
    margin: 0;
    margin-bottom: 30px;
    text-align: center;
    font-size: 26px;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
    width: 100%;
    height: 100%;

    border: none;
    z-index: 1000;
  }
}

@media (max-width: 465px) {
  .barleybreak {
    aspect-ratio: 0.8;
  }
}
